<!-- TODO : modale "sûr d'abandonner les modifs ?" -->
<!-- TODO : bannière "votre compte est en attente de validation par un administrateur" -->

<script src="js/toggleFormEdition.js"></script>
<!-- HYDRATE.JS : hydrate les éléments en se basant sur l'attribut data-inner (une fois que la page est chargée) -->
<script src="js/hydrate.js"></script>
<!-- ACCOUNT.JS : contient (temporaire) l'objet JSON "client" -->
<script src="js/account.js" defer></script>
<div class="container">
  <div class="row">
    <h2 class="col mt-5 mb-3">MON COMPTE</h2>
  </div>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div
        class="col-md-5 p-3 pb-4 d-flex flex-column align-items-center"
        style="background-color: #7fc2411c; margin-right: 1px solid #7fc2411c"
      >
        <div
          class="d-flex flex-row flex-md-column"
          style="color: var(--color-green)"
        >
          <span
            class="fa fa-user fa-5x mb-3 mt-5 text-center"
            style="opacity: 0.5"
          ></span>
          <div
            class="d-flex flex-wrap flex-row flex-md-column align-self-center text-md-center"
          >
            <h2
              class="pr-1 pl-1 pr-md-0 pl-md-0 mb-0"
              data-inner="client:client_prenom"
            ></h2>
            <h2
              class="pr-1 pl-1 pr-md-0 pl-md-0 mb-0 text-uppercase"
              data-inner="client:client_nom"
            ></h2>
          </div>
        </div>
        <div class="d-flex flex-row flex-md-column mt-md-5 mt-3 text-md-center">
          <p class="mb-0 mb-md-3 mr-3 mr-md-0 text-black-50">
            <span data-inner="client:nombre_paniers"></span>
            paniers commandés
          </p>
          <button
            class="btn button_green text-white"
            href="route.php?page=order"
          >
            Mes commandes
          </button>
        </div>
      </div>
      <div class="col-md-7">
        <div class="card-body ml-md-4 mr-md-4 mb-4">
          <form
            class="d-flex flex-column"
            id="account_form"
            data-editable="false"
            action="route.php?page=account"
            method="post"
          >
            <button
              class="edit_btn btn button_green fa fa-edit ml-auto mt-4 mb-4 text-white"
              type="button"
              aria-abel="éditer les informations du compte"
              onclick="toggleFormEdition(this)"
            >
              Modifier
            </button>
            <button
              class="revert_btn btn button_purple fa fa-backward ml-auto mt-4 mb-4 text-white d-none"
              type="button"
              aria-abel="éditer les informations du compte"
              onclick="toggleFormEdition(this)"
            >
              Annuler
            </button>
            <div class="d-flex flex-column mb-3">
              <span class="h6 text-uppercase text-black-50" for="civilite">
                Civilité
              </span>
              <div class="row pl-3 align-items-center">
                <input
                  type="radio"
                  class="mr-2"
                  id="fem"
                  name="civilite"
                  data-inner="client:client_civilite"
                  value="fem"
                />
                <label class="mb-0" for="fem" checked>Madame</label>
              </div>
              <div class="row pl-3 align-items-center">
                <input
                  type="radio"
                  class="mr-2"
                  id="masc"
                  name="civilite"
                  data-inner="client:client_civilite"
                  value="masc"
                />
                <label class="mb-0" for="masc">Monsieur</label>
              </div>
              <div class="row pl-3 align-items-center">
                <input
                  type="radio"
                  class="mr-2"
                  id="other"
                  name="civilite"
                  data-inner="client:client_civilite"
                  value="other"
                />
                <label class="mb-0" for="other">Autre</label>
              </div>
            </div>
            <div class="d-flex flex-column mb-3">
              <label class="h6 text-uppercase text-black-50" for="prenom">
                Prénom
              </label>
              <input
                class="afpanize"
                id="prenom"
                name="prenom"
                data-inner="client:client_prenom"
                type="TEXT"
                aria-label="Prénom"
                style="
                  border-color: transparent;
                  padding-left: 0px;
                  color: black;
                "
              />
            </div>
            <div class="d-flex flex-column mb-3">
              <label class="h6 text-uppercase text-black-50" for="nom">
                Nom
              </label>
              <input
                class="afpanize"
                id="nom"
                name="nom"
                data-inner="client:client_nom"
                type="TEXT"
                aria-label="Nom"
                style="
                  border-color: transparent;
                  padding-left: 0px;
                  color: black;
                "
              />
            </div>
            <div class="d-flex flex-column mb-3">
              <label
                class="h6 text-uppercase text-black-50"
                for="code_beneficiaire"
              >
                Code bénéficiaire
              </label>
              <input
                class="afpanize"
                id="code_beneficiaire"
                name="code de bénéficiaire"
                data-inner="client:client_code_beneficiaire"
                type="TEXT"
                aria-label="code_beneficiaire"
                style="
                  border-color: transparent;
                  padding-left: 0px;
                  color: black;
                "
              />
            </div>
            <div class="d-flex flex-column mb-3">
              <label class="h6 text-uppercase text-black-50" for="prenom">
                Mail
              </label>
              <input
                class="afpanize"
                id="mail"
                name="mail"
                data-inner="client:client_mail"
                type="EMAIL"
                aria-label="Email"
                style="
                  border-color: transparent;
                  padding-left: 0px;
                  color: black;
                "
              />
            </div>
            <div class="d-flex flex-column mb-3">
              <label class="h6 text-uppercase text-black-50" for="tel">
                Téléphone
              </label>
              <input
                class="afpanize"
                id="tel"
                name="tel"
                data-inner="client:client_tel"
                value="tmp"
                type="TEL"
                aria-label="Téléphone"
                style="
                  border-color: transparent;
                  padding-left: 0px;
                  color: black;
                "
              />
            </div>
            <button
              class="btn button_blue text-white align-self-stretch ml-md-auto mr-md-auto mt-3 mb-4 d-none"
              type="submit"
            >
              Valider les modifications
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
