<div class="row">
    <div class="col-md-6 text-center mt-md-5">
        <h1 class="ml-md-5 h4">Le panier disponible actuellement</h1>
        <img class="img-fluid mt-md-5" src="assets/img/panier.png" alt="Le panier de fruits et légumes">
        <p class="ml-md-5 mt-3">Le panier actuel est composé de 3 variétés de légumes et 1 variété de fruit.<br>
            Il arrive directement de Juvignac et il est en quantité limité.</p>
        <div class="col-md-12 p-0 mt-3 d-md-flex justify-content-around mb-2">
            <button class="btn button_green border-0 text-white px-4 shadow">Détails</button>
            <button class="btn button_green border-0 text-white shadow">Commander</button>
        </div>
    </div>
    <div class="col-md-6 mt-md-5">
        <h1 class="h3 text-center"> Son producteur</h1>
        <div class="d-flex flex-wrap mt-lg-5">
            <div class="col-lg-6 headerNotLogged mt-2">
                <div>
                    <figure class="figure d-flex justify-content-around">
                        <img src="assets/img/kof.png" alt="pierre" class="figure-img img-fluid img-thumbnail w-50">
                    </figure>
                </div>
                <div class="h6"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime corrupti corporis iste iure ducimus debitis perspiciatis dolorem itaque laborum. Dicta?</div>
                <div>
                    <figure class="figure d-flex justify-content-center">
                        <img src="assets/img/note.jpg" alt="note" class="img-fluid img-thumbnail w-50 " >
                    </figure>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="assets/img/afpa-localisation.png" alt="geolocalisation" class="w-100 h-100">
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column mt-5 bg_green rounded pb-5">
    <div class="d-flex flex-column flex-md-row justify-content-around align-items-center mt-3">
        <h5 class="text-center text-white">Du producteur dans mon frigo</h5>
        <h5 class="btn bg_green shadow_white rounded text-white">Suivez les étapes  <i class="fas fa-angle-double-down"></i></h5>
    </div>
    <div class="text-center my-5 text-white">
        <div><h4 id="one">Comment ça marche ?</h4></div>
    </div>
    <div class="container-fluid d-flex justify-content-center">
        <div class="border_green rounded bg-white col-8">
            <div class="d-flex flex-column mx-5 my-3">
                <div class="mr-auto bg_green rounded px-3 mb-2">
                    <h5>Etape 1</h5>
                </div>
                <div class="text-center">
                    <p class="mx-5">The 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum
                    </p>
                </div>
            </div>
            <div class="d-flex flex-column mx-5 my-3">
                <div class="ml-auto bg_green rounded px-3 mb-2">
                    <h5>Etape 2</h5>
                </div>
                <div class="text-center">
                    <p class="mx-5">The 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        software like Aldus PageMaker including versions of Lorem Ipsum
                    </p>
                </div>
            </div>
            <div class="d-flex flex-column mx-5 my-3">
                <div class="mr-auto bg_green rounded px-3 mb-2">
                    <h5>Etape 3</h5>
                </div>
                <div class="text-center">
                    <p class="mx-5">The 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including
                    </p>
                </div>
            </div>
            <div class="d-flex flex-column mx-5 my-3">
                <div class="ml-auto bg_green rounded px-3 mb-2">
                    <h5>Etape 4</h5>
                </div>
                <div class="text-center mb-3">
                    <p class="mx-5">The 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--DEBUT PARTIE IDEE RECETTES-->

<div class = "p-4">
    <!--PARTIE IDEE RECETTE-->
    <div><h4 id="two">La cuisine des légumes et fruits de saison</h4></div>
    <h5 class = "text-center">Idées recettes</h5>
    <div class="container mt-4 idee_recette">
        <div class="row idee_recettes">
            <!--PREMIERE LIGNE DE BLOCKS RECETTES-->
            <div class="row">
                <!--ENSEMBLE BANDEREAU + RECETTE PRINCIPALE DE LA PREMIERE LIGNE-->
                <div class="col px-3">
                    <div class="row h-100">
                        <!--RECETTE PRINCIPALE DE LA PREMIERE LIGNE-->
                        <div class="col-9 mb-4 p-0 recette" id="recette_visible1">
                            <a href="#">
                                <div class="card h-100 mr-3 border-0">
                                    <img src="https://kissmychef.com/wp-content/uploads/2019/07/remoulade.png" class="card-img-top" alt="...">
                                    <div class="card-body bg-light p-2 rounded-bottom ">
                                        <p class="card-title text-uppercase font-weight-bold font-family-base">Rémoulade de courgettes à la menthe, oeufs mollets et gremolata</p>
                                        <div class="container text-nowrap">
                                            <div class="row h-100">
                                                <div class="col">
                                                    <p class = "font-weight-bold mb-1">Ingrédients:</p>
                                                    <ul class = "p-0">
                                                        <li >4 courgettes</li>
                                                        <li >1/2 bouquet de menthe</li>
                                                        <li >1 c. à c. de vinaigre...</li>
                                                    </ul>
                                                    </div>
                                                <div class="col">
                                                    <div class="row row-cols-md-2 text-secondary">
                                                        <div class="col px-1"><small>👨‍🍳 Difficulté</small></div>
                                                        <div class="col px-1"><small>🕑 10-20 min</small></div>
                                                        <div class="col px-1"><small>🙍 4 pers</small></div>
                                                        <div class="col px-1"><small>🍳 5-10 min</small></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--DIV CACHEE QUI APPARAIT APRES CLIC BOUTON (RESPONSIVE)-->
                        <div class="col-9 mb-4 p-0" id="recette_cachee1">
                            <div class="row row-cols-2 px-3">
                                <div class="col mb-4 recette">
                                    <a href="#">
                                        <div class="card h-100 border-0">
                                            <img src="https://tinyurl.com/ybhz3nf9" class="card-img-top h-50" alt="...">
                                            <div class="card-body bg-light p-2 rounded-bottom">
                                                <p class="card-title font-weight-bold">Papillote de moules au fenouil</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col mb-4 recette">
                                    <a href="#">
                                        <div class="card h-100 border-0">
                                            <img src="https://tinyurl.com/ycatnelj" class="card-img-top h-50" alt="...">
                                            <div class="card-body bg-light p-2 rounded-bottom">
                                                <p class="card-title font-weight-bold">Sauté de volaille aux mirabelles</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col mb-4 recette">
                                    <a href="#">
                                        <div class="card h-100 border-0">
                                            <img src="https://tinyurl.com/ycdr2sht" class="card-img-top h-50" alt="..." />
                                            <div class="card-body bg-light p-2 rounded-bottom">
                                                <p class="card-title font-weight-bold">Bouchées craquantes de conconbre au basilic</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col mb-4 recette">
                                    <a href="#">
                                        <div class="card h-100 border-0">
                                            <img src="https://www.food-developpement-services.com/wp-content/uploads/2018/03/salade-epinard-parmesan-1170x630.jpg" class="card-img-top h-50" alt="...">
                                            <div class="card-body bg-light p-2 rounded-bottom" >
                                                <p class="card-title font-weight-bold">Salade d'épinard aux pétales de parmesan et tomates confites</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--BANDEREAU VERT DE LA PREMIERE LIGNE-->
                        <div class="col-3 mb-4 rounded p-0 bandereau">
                            <div class="row h-100">
                                <div class="col align-self-center text-light text-center">
                                    <p>Le top des plats de saison!</p>
                                    <button type="button" onclick="switchRecette1()" class="btn btn-light d-lg-none align-self-center" id="bouton_recette1">Voir plus!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--CARREE DE 4 RECETTES DE LA PREMIERE LIGNE-->
                <div class="col-5 px-3 d-none d-lg-block">
                    <div class="row row-cols-md-2 h-100">
                        <!--CARREE RECETTE 1/4-->
                        <div class="col mb-4 recette">
                            <a href="#">
                                <div class="card h-100 border-0">
                                    <img src="https://tinyurl.com/ybhz3nf9" class="card-img-top h-50" alt="...">
                                    <div class="card-body bg-light p-2 rounded-bottom">
                                        <p class="card-title font-weight-bold">Papillote de moules au fenouil</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--CARREE RECETTE 2/4-->
                        <div class="col mb-4 recette">
                            <a href="#">
                                <div class="card h-100 border-0">
                                    <img src="https://tinyurl.com/ycatnelj" class="card-img-top h-50" alt="...">
                                    <div class="card-body bg-light p-2 rounded-bottom">
                                        <p class="card-title font-weight-bold">Sauté de volaille aux mirabelles</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--CARREE RECETTE 3/4-->
                        <div class="col mb-4 recette">
                            <a href="#">
                                <div class="card h-100 border-0">
                                    <img src="https://tinyurl.com/ycdr2sht" class="card-img-top h-50" alt="..." />
                                    <div class="card-body bg-light p-2 rounded-bottom">
                                        <p class="card-title font-weight-bold">Bouchées craquantes de conconbre au basilic</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--CARREE RECETTE 4/4-->
                        <div class="col mb-4 recette">
                            <a href="#">
                                <div class="card h-100 border-0">
                                    <img src="https://www.food-developpement-services.com/wp-content/uploads/2018/03/salade-epinard-parmesan-1170x630.jpg" class="card-img-top h-50" alt="...">
                                    <div class="card-body bg-light p-2 rounded-bottom" >
                                        <p class="card-title font-weight-bold">Salade d'épinard aux pétales de parmesan et tomates confites</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECONDE LIGNE DE BLOCKS RECETTES-->
            <div class="row">
                <!--ENSEMBLE BANDEREAU + RECETTE PRINCIPALE DE LA SECONDE LIGNE-->
                <div class="col px-3">
                    <div class="row h-100">
                        <!--BANDEREAU VERT DE LA SECONDE LIGNE-->
                        <div class="col-3 mb-4 rounded p-0 bandereau">
                            <div class="row h-100">
                                <div class="col align-self-center text-light text-center">
                                <p>Le top des desserts de saison!</p>
                                <button type="button" onclick="switchRecette2()" class="btn btn-light d-lg-none align-self-center" id="bouton_recette2">Voir plus !</button>
                                </div>
                            </div>
                        </div>
                        <!--RECETTE PRINCIPALE DE LA SECONDE LIGNE-->
                        <div class="col-9 mb-4 p-0 recette" id="recette_visible2">
                            <a href="#">
                                <div class="card h-100 ml-3 border-0">
                                    <img src="https://assets.afcdn.com/recipe/20190529/93106_w1024h768c1cx3744cy2104cxt0cyt0cxb7488cyb4208.jpg" class="card-img-top" alt="...">
                                    <div class="card-body bg-light p-2 rounded-bottom">
                                        <p class="card-title text-uppercase font-weight-bold">Gâteau courgette-chocolat</p>
                                        <div class="container text-nowrap">
                                            <div class="row h-100">
                                            <div class="col">
                                                <p class = "font-weight-bold mb-1">Ingrédients:</p>
                                                <ul class = "p-0">
                                                    <li>1 courgette moyenne (200 g environ)</li>
                                                    <li>200 g de chocolat à pâtisser en...</li>
                                                </ul> 
                                                </div>
                                            <div class="col">
                                                <div class="row row-cols-md-2 text-secondary">
                                                    <div class="col px-1"><small>👨‍🍳 Difficulté</small></div>
                                                    <div class="col px-1"><small>🕑 10-20 min</small></div>
                                                    <div class="col px-1"><small>🙍 4 pers</small></div>
                                                    <div class="col px-1"><small>🍳 30-40 min</small></div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--DIV CACHEE QUI APPARAIT APRES CLIC BOUTON (RESPONSIVE)-->
                        <div class="col-9 mb-4 p-0" id="recette_cachee2">       
                            <div class="row row-cols-2 px-3">
                                <!--CARREE RECETTE 1/4-->
                                <div class="col mb-4 recette">
                                    <a href="#">
                                        <div class="card h-100 border-0">
                                            <img src="https://i.pinimg.com/474x/5e/90/e0/5e90e0dbe5230685156d4bd5047a8be7.jpg" class="card-img-top h-50" alt="...">
                                            <div class="card-body bg-light p-2 rounded-bottom">
                                                <p class="card-title font-weight-bold">Tarte fine aux abricots</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!--CARREE RECETTE 2/4-->
                                <div class="col mb-4 recette">
                                    <a href="#">
                                        <div class="card h-100 border-0">
                                            <img src="https://www.atelierdeschefs.com/media/recette-e6543-mini-panna-cotta-aux-fruits-de-la-passion.jpg" class="card-img-top h-50" alt="...">
                                            <div class="card-body bg-light p-2 rounded-bottom">
                                                <p class="card-title font-weight-bold">Panna cotta mangue-passion</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!--CARREE RECETTE 3/4-->
                                <div class="col mb-4 recette">
                                    <a href="#">
                                        <div class="card h-100 border-0">
                                            <img src="https://tinyurl.com/y7hwshfc" class="card-img-top h-50" alt="...">
                                            <div class="card-body bg-light p-2 rounded-bottom">
                                                <p class="card-title font-weight-bold">Feuilleté de poires praliné</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!--CARREE RECETTE 3/4-->
                                <div class="col mb-4 recette">
                                    <a href="#">
                                        <div class="card h-100 border-0">
                                            <img src="https://tinyurl.com/yajtnheg" class="card-img-top h-50" alt="...">
                                            <div class="card-body bg-light p-2 rounded-bottom" >
                                                <p class="card-title font-weight-bold">Papillotes de poires à la vanille et à la banane</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--CARREE DE 4 RECETTES DE LA SECONDE LIGNE-->
                <div class="col-5 px-3 d-none d-lg-block">
                    <div class="row row-cols-md-2 h-100">
                        <!--CARREE RECETTE 1/4-->
                        <div class="col mb-4 recette">
                            <a href="#">
                                <div class="card h-100 border-0">
                                    <img src="https://i.pinimg.com/474x/5e/90/e0/5e90e0dbe5230685156d4bd5047a8be7.jpg" class="card-img-top h-50" alt="...">
                                    <div class="card-body bg-light p-2 rounded-bottom">
                                        <p class="card-title font-weight-bold">Tarte fine aux abricots</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--CARREE RECETTE 2/4-->
                        <div class="col mb-4 recette">
                            <a href="#">
                                <div class="card h-100 border-0">
                                    <img src="https://www.atelierdeschefs.com/media/recette-e6543-mini-panna-cotta-aux-fruits-de-la-passion.jpg" class="card-img-top h-50" alt="...">
                                    <div class="card-body bg-light p-2 rounded-bottom">
                                        <p class="card-title font-weight-bold">Panna cotta mangue-passion</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--CARREE RECETTE 3/4-->
                        <div class="col mb-4 recette">
                            <a href="#">
                                <div class="card h-100 border-0">
                                    <img src="https://tinyurl.com/y7hwshfc" class="card-img-top h-50" alt="...">
                                    <div class="card-body bg-light p-2 rounded-bottom">
                                        <p class="card-title font-weight-bold">Feuilleté de poires praliné</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--CARREE RECETTE 3/4-->
                        <div class="col mb-4 recette">
                            <a href="#">
                                <div class="card h-100 border-0">
                                    <img src="https://tinyurl.com/yajtnheg" class="card-img-top h-50" alt="...">
                                    <div class="card-body bg-light p-2 rounded-bottom" >
                                        <p class="card-title font-weight-bold">Papillotes de poires à la vanille et à la banane</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--FIN PARTIE IDEE RECETTES-->

<div class="mx-3 bg_green rounded pt-3">
    <h4 class="ml-5">Qui sommes nous ?</h4>
    <h6 class="text-center">Le projet</h6>
    <div class="d-flex justify-content-center align-items-center flex-column flex-lg-row m-5">
        <div class="flex-fill bg-white rounded w-100 flex-grow-1 mr-lg-1 p-3 mb-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi aperiam architecto fugiat id iure minima modi molestiae molestias neque nostrum perferendis quisquam suscipit, temporibus totam? Atque beatae distinctio doloribus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cum ducimus quam sit voluptas voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate doloremque dolorum error, eum nemo odit pariatur reiciendis repudiandae vero voluptate?</p>
        </div>
        <div class="flex-fill w-100 ml-lg-1 mb-3 p-3 text-center border-white border_40">
            <h6 class="mb-5">Les sections qui développent le projet</h6>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>

</div>
