

  <link rel = "stylesheet" type = "text/css" href = "css/bootstrap.min.css">
  <link rel = "stylesheet" type = "text/css" href = "css/dataTables.min.css">
  <link rel = "stylesheet" type = "text/css" href = "css/adm_provider_gestion.css">

<div class="container h-100 d-flex">
  
    <section class="p-4">
      <h1 class="display-4 p-4 text-center">Gestion des fournisseurs</h1>
      <table id="table_producteurs" class="table table-striped w-100 border border-top-0 border-secondary rounded">
      </table>

      <div class="collapse mt-5" id="form_afficher">
        <h1> Entreprise</h1>
        <div class="border rounded p-3">
          <div class="form-row">
            <div class="form-group col-md-8 px-3">
              <label for="nom">Raison sociale</label>
              <input type="text" class="form-control border" id="raisonsociale" name="raisonsociale">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8 px-3">
              <label for="Adresse">Adresse</label>
              <input type="text" class="form-control border" id="adresse" name="adresse">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8 px-3">
              <label for="Adresse">Complément d'adresse</label>
              <input type="text" class="form-control border" id="adressecomplement" name="adressecomplement">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4 px-3">
              <label for="ville">Ville</label>
              <input type="text" class="form-control border" id="ville" name="ville">
            </div>
            <div class="form-group col-md-4 px-3">
              <label for="CP">Code Postal</label>
              <input type="number" class="form-control border" id="CP" name="CP">
              </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4 px-3">
              <label for="email">E-mail d'entreprise</label>
              <input type="email" class="form-control" id="emailentreprise" name="emailentreprise">
            </div>
            <div class="form-group col-md-4 px-3">
              <label for="telephone">Téléphone d'entreprise</label>
              <input type="tel" class="form-control" id="telephoneentreprise" name="telephoneentreprise">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4 px-3">
              <label for="type">Type de production</label>
              <div id="type" name ="type" class=" px-4 pb-2">
              </div>
              <input type="text" class="form-control border" id="newType" name="newType" placeholder="Autre type de produit">
              <button onClick="ajoutType()" class="btn_action rounded mt-2" id="btn_type">VALIDER NOUVEAU TYPE</button>
            </div>
          </div>
          <div class="form-row">
            <div class="form-row col-md-4 ml-3 mt-5">
              <label for="image" class ="custom-file-label">Image (portrait, logo, etc)</label>
              <input type="file" class="custom-file-input ml-4 mb-2" id="image" name="image">
            </div>
            <div class="form-row col-md-4 ml-3 pb-2">
              <label for="gmap" class="pt-4 mb-0" >Lien Google Map</label>
              <input type="url" class="form-control" id="gmap" name="gmap">
            </div>
          </div>
          <div class="form-group col-md-8 px-3">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name = "description" rows="5"></textarea>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 px-3">
              <label for="newCommentaire">Commentaire</label>
              <textarea class="form-control" id="newCommentaire" name = "newCommentaire" rows="5"></textarea>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="newEvaluation" id="evaluation1" value="positif">
                <label class="form-check-label" for="evaluation1">
                  Positif
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="newEvaluation" id="evaluation2" value="neutre">
                <label class="form-check-label" for="evaluation2">
                  Neutre
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="newEvaluation" id="evaluation3" value="negatif">
                <label class="form-check-label" for="evaluation3">
                  Negatif
                </label>
              </div>
            </div>
            <div class="form-group col-md-6 px-3">
              <p id="commentaireliste"></p>
            </div>
          </div>
      </div>
        <h1 class="mt-5">Contact</h1>
        <div class="border rounded p-3">
          <div class="form-row">
            <div class="form-group col-md-4 px-3">
              <label for="nom">Nom</label>
              <input type="text" class="form-control border" id="nomcontact" name="nomcontact">
            </div>
            <div class="form-group col-md-4 px-3">
              <label for="nom">Prénom</label>
              <input type="text" class="form-control border" id="prenomcontact" name="prenomcontact">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4 px-3">
              <label for="email">E-mail</label>
              <input type="email" class="form-control" id="emailcontact" name="emailcontact">
            </div>
            <div class="form-group col-md-4 px-3">
              <label for="telephone">Téléphone</label>
              <input type="tel" class="form-control" id="telephonecontact" name="telephonecontact">
            </div>
          </div>
        </div>
      </div>
      <p class="p-3">
        <button onClick="afficheProducteur(); afficheCommentaire();" data-toggle="collapse" data-target="#form_afficher" class="btn_action rounded" id="btn_afficher">AJOUTER UN NOUVEAU PRODUCTEUR</button>

        <button onClick="ajoutProducteur()" class="btn_action hide rounded" id="btn_ajouter">VALIDER</button>
        
        <button onClick="majProducteur(); ajouteCommentaire();" class="btn_action hide rounded" id="btn_modifier">MODIFIER</button>
        
        <button onClick="annulProducteur()" class="btn_save hide rounded" id="btn_annuler">ANNULER</button>
      </p>
    </section>
  </div>

  <script type="text/javascript" charset="utf8" src="js/dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="js/adm_provider_gestion.js"></script>
  <script type="text/javascript" charset="utf8" src="js/adm_provider_gestion_type.js"></script>
  <script type="text/javascript" charset="utf8" src="js/adm_provider_gestion_commentaire.js"></script>
  