<link rel="stylesheet" href="css/adm_notice_list">
<script src="assets/ckeditor/ckeditor.js"></script>
<div id="alert" class="alert alert-success text-center"style="display: none;"></div>
<div class="container my-3">
    <div class="d-flex justify-content-between">
        <h6 class="h2">Liste des actus</h6>
        <button class="btn btn-primary" onclick="adm_notice_new()">Nouvelle actu</button>
    </div>
    <table class="table table-striped table-responsive-md table-bordered my-5">
        <thead>
        <tr>
            <th scope="col">Date création</th>
            <th scope="col">Titre</th>
            <th scope="col">Auteur</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody id="notice_list">

        </tbody>
    </table>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>

<div class="container my-3" id="notice_edit"></div>

<script src="js/adm_notice_list.js" ></script>
