<link rel="stylesheet" type="text/css" href="css/dataTables.min.css">
<link rel="stylesheet" type="text/css" href="css/datatables.filters.css">
<link rel="stylesheet" type="text/css" href="css/adm_social.css">
<script type="text/javascript" charset="utf8" src="js/dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="js/dataTables.filters.js"></script>
<script src="js/adm_social.js"></script>


<div>
    <section>
        <!--Titre-->
        <div class="col-sm-4" id="main">
            <h3 class="text-uppercase">Gestion des reseaux sociaux</h3>
        </div>
        <!--Tableau construction datatable-->
        <table class="table table-striped table-hover table-responsive text-center" id="tableSocial">
            <thead>
            <tr>
                <th>Ordre</th>
                <th>Nom</th>
                <th>Pictogramme</th>
                <th>Lien</th>
                <th onclick="editSocial() + i">Editer</th>
                <th onclick="supprimSocial() + i">Supprimer</th>
            </tr>
            </thead>
            <!--Corps-->
            <tbody>
            </tbody>
        </table>
        <!--Construction formulaire d'ajout/modification-->
        <div class="text-center">
            <p>Nom : <input type="text" name="nom" id="nom"></p>
            <label for="picto">Pictogramme</label>
            <select name="reseau" id="picto">
                <option value="">--Choix du réseau social--</option>
                <option value="fa-facebook">Facebook</option>
                <option value="fa-twitter">Twitter</option>
                <option value="fa-linkedin">LinkedIn</option>
                <option value="fa-youtube">Youtube</option>
                <option value="fa-instagram">Instagram</option>
                <option value="fa-pinterest">Pinterest</option>
                <option value="fa-tiktok">Tiktok</option>
                <option value="fa-discord">Discord</option>
            </select>
            <p>Lien : <input type="text" name="lien" id="lien"></p>
            <p>
                <button onClick="ajoutSocial()" class="btn_action button_green" id="btn_ajouter">AJOUTER</button>
                &nbsp;&nbsp;&nbsp;
                <button onClick="majSocial()" class="btn_action button_green hide" id="btn_modifier">MODIFIER</button>
                &nbsp;&nbsp;&nbsp;
                <button onClick="annulSocial()" class="btn_save button_red hide" id="btn_annuler">ANNULER</button>
            </p>
        </div>
    </section>
</div>
