<!-- main style -->
<link rel="stylesheet" type="text/css" href="css/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="css/adm_offer_gestion.css" />

<div class="container">
  <h1 class="display-4 text-center mt-5 mb-5">Gestion des Offres</h1>

  <table id="table_paniers" border="1"></table>

  <button onClick="afficheCreaPanier()" type="button" data-toggle="collapse" data-target="#div_crea_panier"
    class="btn_action rounded my-5 ml-4" id="btn_crea_panier" aria-expanded="false" aria-controls="collapseExample">
    Créer un nouveau panier
  </button>

  <div id="div_crea_panier" class="collapse">
    <h2 class="titre_crea_panier my-5">Nouveau Panier</h2>

    <form>
      <div class="row mb-5">
        <div class="col6 w-25 border rounded">
          <h3 class="text-center mt-3 mb-4">Le Producteur</h3>
          <form class="mr-4">
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" size="1">
              <option selected>Choisir le nom</option>
              <option>Le Palais du Légume</option>
              <option>Chez Paulette</option>
              <option>Lucien et Alphonse Frères</option>
              <option>Le Meilleur du Pote âgé</option>
              <option>Laurence Primeurs</option>
            </select>
          </form>
          </p>
          <a href="#">Créer un nouveau Producteur</a>
        </div>

        <div class="col6 border rounded ml-5">
          <h3 class="text-center mt-3 mb-4">Les dates du Panier</h3>
          <h4 class="label_date">
            Visibilité sur le site
          </h4>
          <form>
            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Début de la visibilité">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Fin de la visibilité">
              </div>
            </div>
          </form>
          <div class="row">
            <h4 class="label_date">
              Possibilité de commander
            </h4>
            <div class="col-6">
              <div class="form-row">
                <div class="col">
                  <input type="text" class="form-control" name="date_deb_com_panier" id="date_deb_com_panier"
                    placeholder="Début de la possibilité de commander">
                </div>
                <div class="col">
                  <input type="text" class="form-control" name="date_fin_com_panier" id="date_fin_com_panier"
                    placeholder="Fin de la possibilité de commander">
                </div>
              </div>
            </div>
            <div class="row">
              <h4 class="label_date">
                Possibilité de paiement
              </h4>
              <div class="col-6">
                <p class="">
                  Début de la possibilité de paiement :
                </p>
                <input class="mb-4" type="text" name="date_deb_paie_panier" id="date_deb_paie_panier" />
              </div>
              <div class="col-6">
                <p class="">
                  Fin de la possibilité de paiement :
                </p>
                <input class="mb-4" type="text" name="date_fin_paie_panier" id="date_fin_paie_panier" />
              </div>
            </div>
            <div class="row ml-5">
              <p class="">
                Date de la livraison :
                <input class="mb-4 ml-5" type="text" name="date_liv_panier" id="date_liv_panier" />
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col6">
            <p>Nom du panier : <input type="text" name="titre_panier" id="titre_panier" /></p>
            <p>Description du Panier :</p>
            <p>
              <textarea id="description_panier" name="description_panier" rows="3" cols="70"></textarea>
            </p>
          </div>
          <div class="col6">
            <img class="ml-5" src="" alt="Image du Panier">
          </div>
        </div>

        <div class="type_panier d-flex mb-4">
          <p class="mr-2">
            Type :
          <form class="mr-4">
            <select name="nom" size="1">
              <option>Légumes</option>
              <option>Fruits</option>
              <option>Mixte</option>
            </select>
          </form>
          </p>
          <a href="#">
            <p>Créer un nouveau Type</p>
          </a>
        </div>

        <p class="mb-4">
          Poids :
          <input type="text" class="mr-3" name="poids_panier" id="poids_panier" />
          <a href="#" class="mr-5">Créer un nouveau Poids</a>
        <form class="mr-4 mb-2">
          <select name="nom" size="1">
            <option>kg(s)</option>
          </select>
        </form>
        <a href="#">Créer une nouvelle mesure</a>
        </p>

        <div class="prix_promo d-flex mb-4">
          <p class="mr-5">
            Prix :
            <input type="text" name="prix_panier" id="prix_panier" /> €
          </p>
          <p>
            Associer un Code Promo :
            <input type="text" class="mr-3" name="asso_code_promo" id="asso_code_promo" />
            <a href="#">Créer un nouveau Code Promo</a>
          </p>
        </div>

        <p class="mb-4">
          Produits du Panier :
          <input type="text" name="produits_panier" id="produits_panier" />
          <a href="#">Créer un nouveau Produit</a>
        </p>
        <p><a href="#" class="ml-5">Ajouter un Produit à ce Panier</a></p>
    </form>



    <p>
      <button onClick="ajoutPanier()" class="btn_action" id="btn_ajouter">
        AJOUTER
      </button>
      &nbsp;&nbsp;&nbsp;
      <button onClick="majPanier()" class="btn_action hide" id="btn_modifier">
        MODIFIER
      </button>
      &nbsp;&nbsp;&nbsp;
      <button onClick="supprimPanier()" class="btn_save hide" id="btn_supprimer">
        SUPPRIMER
      </button>
      &nbsp;&nbsp;&nbsp;
      <button onClick="annulPanier()" class="btn_save hide" id="btn_annuler">
        ANNULER
      </button>
    </p>
  </div>
</div>

<!-- main js -->
<script type="text/javascript" charset="utf8" src="js/datatables.min.js"></script>
<script type="text/javascript" charset="utf8" src="js/adm_offer_gestion.js"></script>