  
  
  <link rel = "stylesheet" type = "text/css" href = "css/bootstrap.min.css">
  <link rel = "stylesheet" type = "text/css" href = "css/dataTables.min.css">
  <link rel = "stylesheet" type = "text/css" href = "css/adm_admin_gestion.css">

<div class="container h-100 d-flex">
  
    <section class="p-4">
      <h1 class="display-4 p-4 text-center">Gestion des ADministrateurs</h1>
      <table id="table_Admins" class="table table-striped w-100 border border-top-0 border-secondary rounded">
      </table>
	  
      <div class="collapse mt-5" id="form_afficher">
        <h1> Ajout d'un Administrateur</h1>
        <div class="border rounded p-3">
          <div class="form-row">
            <div class="form-group col-md-8 px-3">
              <label for="nom">nom</label>
              <input type="name" class="form-control border" id="nom" name="nom">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8 px-3">
              <label for="prenom">prenom</label>
              <input type="subname" class="form-control border" id="prenom" name="prenom">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8 px-3">
              <label for="telephone">telephone</label>
              <input type="phone" class="form-control border" id="telephone" name="telephone">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4 px-3">
              <label for="email">E-mail</label>
              <input type="email" class="form-email" id="email" name="email">
            </div>
            <div class="form-group col-md-4 px-3">
              <label for="code_agent">code_agent</label>
              <input type="code" class="form-control" id="code_agent" name="code_agent">
            </div>
		  </div>
		  <div class="form-group col-md-4 px-3">
			<label for="password">password</label>
			<input type="password" class="form-control" id="password" name="password">
		  </div>
		<div class="form-group col-md-4 px-3">
			<label for="password_confirmation">password_confirmation</label>
			<input type="password" class="form-control" id="password_confirmation" name="password_confirmation">
		  </div>
    </div>
  </div>


      <p class="p-3 container">
        <button onClick="afficheAdmins()" data-toggle="collapse" data-target="#form_afficher" class="btn_action rounded" id="btn_afficher">AJOUTER UN ADMINISTRATEUR</button>

        <button onClick="ajoutAdmins()" class="btn_action hide rounded" id="btn_ajouter">VALIDER</button>
        
        <button onClick="majAdmins()" class="btn_action hide rounded" id="btn_modifier">MODIFIER</button>
        
        <button onClick="annulAdmins()" class="btn_save hide rounded" id="btn_annuler">ANNULER</button>
      </p>
    </section>
  </div>

  <script type="text/javascript" charset="utf8" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" charset="utf8" src="js/dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="js/adm_admin_gestion.js"></script>
  <script type="text/javascript" charset="utf8" src="js/adm_admin_gestion_type.js"></script>  