
<script src="js/adm_home_menu.js" type="text/JavaScript"></script>
<link rel="stylesheet" href="css/adm_home_menu.css">
<div class="container">
    <h1 class="display-4 p-4 text-center">Menu de gestion administrateur</h1>
<div class="container">
    <div class="row d-flex justify-content-center">
        <button type="button" class="btn btn-primary m-4  admin_button">Paniers</button>
        <button type="button" class="btn btn-primary m-4  admin_button">Commandes</button>
        <button type="button" class="btn btn-primary m-4  admin_button">Clients</button>
    </div>
    <div class="row d-flex justify-content-center">
        <button type="button" class="btn btn-primary m-4  admin_button">Fournisseurs</button>
        <button type="button" class="btn btn-primary m-4  admin_button">Promotions</button>
        <button type="button" class="btn btn-primary m-4  admin_button">Paramètres</button>
    </div>
    <div class="row d-flex justify-content-center">
        <button type="button" class="btn btn-primary m-4  admin_button">Admin</button>
        <button type="button" class="btn btn-primary m-4  admin_button">Dashboard</button>
        <button type="button" class="btn btn-primary m-4  admin_button">Actus</button>
    </div>
</div>
</div>


