
<link rel="stylesheet" type="text/css" media="screen" href="css/dataTables.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="css/datatables.filters.css">


<script src="js/dataTables.min.js"></script>
<script src="js/datatables.filters.js"></script>
<script type="text/javascript" charset="utf8" src="js/adm_client_gestion_clients.js"></script>

<section style="background-color: rgb(231, 206, 227)"> 
    <div class="container-fluid d-flex flex-column">
        <div class="row">              
            <div class="ml-auto mr-auto" >
                <h2 class="pt-5">Gestion des clients</h2>
                <hr>
            </div>
            <div class="table button_green hide ml-4 mr-4" style="width: 100%;">
                <table id="table_client" style="border:1px";>
                </table>
            </div>  
            <div>
            <hr>
            </div>             
            <div class="container">
                <div class="ml-auto mr-auto text-center" >
                    <h2 class="pt-5">Coordonnées</h2>
                    <hr>
                </div>
                <div class="row ">
                    <div class="col-6">
                        <div class="d-flex flex-column">                    
                            <div class="form-group d-flex flex-column"> 
                                <div class="form-group d-flex flex-column">
                                    <label class="h6 text-uppercase text-black-50 button_green hide text-center mt-" for="code_beneficiaire">Code bénéficiare :</label>
                                    <input type="text" name="code_beneficiaire" id="code_beneficiaire">
                                </div>    
                                <label class=" afpanize first h6 text-uppercase text-black-50 button_green hide text-center mb-2" for="civilite"> Civilité :</label> 
                                <select name="civilite" id="civilite">  
                                        <option value="Mr" selected="selected">Monsieur</option>
                                        <option value="Mademoiselle" selected="selected">Madame</option>
                                        <option value="Autre">Autre</option>
                                </select>
                                <div class="form-group d-flex flex-column mt-4">
                                    <label class="h6 text-uppercase text-black-50 button_green hide text-center" for="nom_prenom">Nom Prénom:</label>
                                    <input type="text" name="nom_prenom" id="nom_prenom">
                                </div>
                                <div class="form-group d-flex flex-column">
                                    <label class="h6 text-uppercase text-black-50 button_green hide text-center" for="section">Section (Bureau ou stagiaire) :</label>
                                    <input type="text" name="section" id="section">
                                </div>
                            </div>   
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <div class="form-group d-flex flex-column">
                                <label class="h6 text-uppercase text-black-50 button_green hide text-center" for="adresse">Adresse :</label>
                                <input type="text" name="adresse" id="adresse">
                            </div>
                            <div class="form-group d-flex flex-column">
                                <label class="h6 text-uppercase text-black-50 button_green hide text-center" for="code_posal_ville">Code postal/Ville:</label>
                                <input type="text" name="code_postal_ville" id="code_postal_ville">
                            </div>
                            <div class="form-group d-flex flex-column">
                                <label class="h6 text-uppercase text-black-50 button_green hide text-center" for="telephone">Téléphone :</label>
                                <input type="text" name="telephone" id="telephone">
                            </div>
                            <div class="form-group d-flex flex-column">
                                <label class="h6 text-uppercase text-black-50 button_green hide text-center" for="mail">Email :</label>
                                <input type="text" name="mail" id="mail">
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="container">                    
            <div class="row justify-content-center">
                <div class="col-2 pt-3 pb-4 pl-4">
                    <button onClick="ajoutClient()" class="btn_action btn button_green hide" id="btn_ajouter">AJOUTER</button>
                </div>              
                <div class="col-2 pt-3 pb-4 pl-5">
                    <button onClick="majClient()" class="btn_action btn button_green hide" id="btn_modifier">MODIFIER</button>
                </div>
            </div>                       
        </div>       
    </div>
</section>
        
