
<link rel="stylesheet" type="text/css" media="screen" href="css/dataTables.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="css/datatables.filters.css">

<script src="js/dataTables.min.js"></script>
<script src="js/datatables.filters.js"></script>
<script type="text/javascript" charset="utf8" src="js/adm_order_gestion_commandes.js"></script>
        
<section style="background-color: rgb(231, 206, 227)">
    <div class="container-fluid d-flex">
        <div class="row">              
            <div class="ml-auto mr-auto">
                <h2 class="pt-5"> Gestion des commandes</h2>
                <hr>
            </div>
            <div class="table button_green hide ml-4 mr-4" style="width: 100%;">
                <table id="table_commande" style="border:1px";>
                </table>
            </div>  
            <div>
            <hr>
            </div>             
            <div class="container d-flex justify-content-center mt-5">
                <div class="row">
                    <div class="col-4">
                        <div class="ml-auto mr-auto">
                            <h2 class="pt-4 text-center"> Client</h2>
                            <hr>
                        </div>
                        <div class="d-flex flex-column">                    
                            <div class="form-group d-flex flex-column">
                                <label class="h6 text-uppercase text-black-50 button_green hide text-center" for="code_beneficiaire">Code bénéficiaire:</label>
                                <input class="afpanize" type="text" name="code_beneficiaire" id="code_beneficiaire">
                            </div>
                            <div class="form-group d-flex flex-column">           
                                <label class="h6 text-uppercase text-black-50 button_green hide text-center" for="nom_prenom">Nom prénom:</label>
                                <input class="afpanize" type="text" name="nom_prenom" id="nom_prenom">
                            </div>
                            <div class="form-group d-flex flex-column">
                                <label class="h6 text-uppercase text-black-50 button_green hide text-center" for="mail">Email :</label>
                                <input class="afpanize" type="text" name="mail" id="mail">
                            </div>
                            <div class="form-group d-flex flex-column">
                                <label class="h6 text-uppercase text-black-50 button_green hide text-center" for="telephone">Téléphone :</label>
                                <input class="afpanize" type="text" name="telephone" id="telephone">
                            </div> 
                        </div>
                    </div>  
                    <div class="col-4">
                        <div class="ml-auto mr-auto">
                            <h2 class="pt-4 text-center">Infos commande</h2>
                            <hr>
                        </div>
                        <div class="d-flex flex-column">           
                            <div class="form-group d-flex flex-column">
                                <label class="h6 text-uppercase text-black-50 button_green hide text-center"  for="num_commande">N° de commande :</label>
                                <input class="afpanize" type="text" name="num_commande" id="num_commande">
                            </div>
                            <div class="form-group d-flex flex-column">
                                <label class="h6 text-uppercase text-black-50 button_green hide text-center" for="code_commande">Code commande :</label>
                                <input class="afpanize" type="text" name="code_commande" id="code_commande">
                            </div>                                  
                            <div class="form-group d-flex flex-column">
                                <label class="h6 text-uppercase text-black-50 button_green hide text-center" for="fournisseur">Fournisseur :</label>
                                <input class="afpanize" type="text" name="fournisseur" id="fournisseur">
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="ml-auto mr-auto">
                            <h2 class="pt-4 text-center">Etat commande</h2>
                            <hr>
                        </div>
                        <div class="d-flex flex-column flex-column"></div>
                            <div class="form-group d-flex flex-column">
                                <label class="h6 text-uppercase text-black-50 button_green hide text-center" for="date_commande">Date commande :</label>
                                <input class="afpanize" type="text" name="date_commande" id="date_commande">
                            </div>
                            <div class="form-group d-flex flex-column">
                                <label class="h6 text-uppercase text-black-50 button_green hide text-center" for="date_livraison">Date livraison :</label>
                                <input class="afpanize" type="text" name="date_livraison" id="date_livraison">
                            </div>
                            <div class="form-group d-flex flex-column">
                                <label class="h6 text-uppercase text-black-50 button_green hide text-center" for="etat_commande">Etat commande :</label>
                                <input class="afpanize" type="text" name="etat_commande" id="etat_commande">
                            </div>
                        </div>   
                    </div>
                </div>
            </div>   
        </div>                
        <div class="container" >                    
            <div class="row justify-content-center">
                <div class="col-2 pt-3 pb-4 pl-5">
                    <button onClick="ajoutCommande()" class="btn_action button_green hide" id="btn_ajouter">AJOUTER</button>
                </div>
                <div class="col-2 pt-3 pb-4 pl-5">
                    <button onClick="majCommande()" class="btn_action button_green hide" id="btn_modifier">MODIFIER</button>
                </div>
            </div>                       
        </div>                                 
    </div>
</section>
                
        