
<link rel="stylesheet" type="text/css" media="screen" href="css/dataTables.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="css/datatables.filters.css">
<link rel="stylesheet" type="text/css" media="screen" href="css/adm_promo_gestion.css">
<link rel="stylesheet" type="text/css" media="screen" href="css/all.css">


<script src="js/dataTables.min.js"></script>
<script src="js/datatables.filters.js"></script>
<script src="js/proto.js"></script>
<script src="js/color.js"></script>
<script src="js/utile.js"></script>
<script src="js/adm_promo_gestion.js"></script>

<div class='section_promo afpanize'>

    <div class="presentation container">
        <br>
        <h1 class = title_page>Promotions</h1>

        <p class = 'intro'>
            Ici vous pouvez gérer vos promotions : valables pour tout le monde ou pour certains clients seulement, tout est personnalisable...
            <br>Double-cliquez sur une promotion pour l'éditer, en créer une copie, la désactiver momentanément ou la supprimer.
        </p>

        <br>

        <div class="filtres row">
            <div class="col-md-6">
                <p class='p_afficher'>Filtrage par date :</p>
                <select class='filtre_date'>
                    <option class=''>aucun</option>
                    <option class=''>promotions passées</option>
                    <option class=''>promotions en cours</option>
                    <option class=''>promotions à venir</option>
                </select>
            </div>
            <div class="col-md-6">
                <p class='p_afficher'>Filtrage par cible :</p>
                <select class='filtre_cible'>
                    <option class=''>aucun</option>
                    <option class=''>tous les clients</option>
                    <option class=''>clients spécifiques</option>
                </select>
            </div>
        </div>

        <br><br>
    </div>

    <div class='table__form container-fluid'>
        <div class='datatable'>
            <div class="col-md-8 m-auto">
                <button id='form_btn_ajouter' class='button_purple'> <i class="fas fa-plus-circle"></i>   Créer une promo </button>
                <table id='table_promos' class='' border='1'>
                </table>
            </div>
            <div id='form_promos' class='d-none col-md-8 m-auto'>
                <div class="row date_debut__date_fin">
                    <div class="col col-sm date_debut">
                    </div>
                    <div class="col col-sm date_fin">
                    </div>
                </div>

                <div class="row valeur__type_promo">
                    <div class="col col-sm valeur">
                    </div>
                    <div class="col col-sm type_promo">
                    </div>
                </div>

                <div class="row code_promo__quantite">
                    <div class="col col-sm code_promo">
                    </div>
                    <div class="col col-sm quantite">
                    </div>
                </div>

                <div class="row code_promo__quantite">
                    <div class="col description">
                    </div>
                    <div class="col est_actif__boutons">
                        <div class="row row_in_col est_actif">
                        </div>
                        <div class="boutons row justify-content-center">
                            <button id='form_btn_annuler' class='button_blue' >Annuler</button>
                            <button id='form_btn_enregistrer' class='d-none button_green' >Enregistrer les modifications</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
