<script src="js/Chart.bundle.min.js" type="text/JavaScript"></script>
<link rel="stylesheet" href="css/adm_dash_gestion.css">
    <div>
        <h1 class="display-4 p-4 text-center">Dashboard</h1>

        <table id="table_producteurs" class="table table-striped w-100 border border-top-0 border-secondary rounded">
        </table>
            <div class="container w-100">
                <div class="row">
                  <div class="col-sm">
                    <canvas id="chart_nb_client"></canvas>
                  </div>
                  <div class="col-sm">
                    <canvas id="chart_nb_panier"></canvas>
                  </div>
                  <div class="col-sm">
                    <canvas id="chart_nb_producteur"></canvas>
                  </div>
                </div>
              </div>


    </div>
    <script src="js/adm_dash_gestion.js" type="text/JavaScript"></script>

