<!--Contact-->
<section class="section pb-5">

    <h2 class="section-heading h1 pt-4 text-center">Nous contacter</h2>
 
<div class= "container-fluid">

    <div class="row">
  
      <div class="col-lg-5 mb-4">
  
        <div class="card">
  
          <div class="card-body">

            <p>Pour contacter l’équipe de l'AF-PANIER, merci de bien vouloir remplir le formulaire ci-dessous :</p>
            <br>
  
            <div class="md-form">
              <i class="fas fa-user prefix grey-text"></i>
              <label for="form-name">Votre Nom</label>
              <input type="text" id="form-name" class="form-control">
              
            </div>
  
            <div class="md-form">
              <i class="fas fa-envelope prefix grey-text"></i>
              <label for="form-email">Votre E-mail</label>
              <input type="text" id="form-email" class="form-control">
              
            </div>
  
            <div class="md-form">
              <i class="fas fa-tag prefix grey-text"></i>
              <label for="form-Subject">Sujet</label>
              <input type="text" id="form-Subject" class="form-control">
              
            </div>
  
            <div class="md-form">
              <i class="fas fa-pencil-alt prefix grey-text"></i>
              <label for="form-text">Votre message</label>
              <textarea id="form-text" class="form-control md-textarea" rows="3"></textarea>
              
            </div>
  
            <div class="text-center mt-4">
              <button class="btn btn-light-blue">Envoyer</button>
            </div>
  
          </div>
  
        </div>
  
      </div>

      <div class="col-lg-7">

        <!--Google map-->
        <div class="mapouter"><div class="gmap_canvas"><iframe width="1100" height="500" id="gmap_canvas"
           src="https://maps.google.com/maps?q=afpa%20montpellier&t=k&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="1" scrolling="yes" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org">
              123movies123</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:900px;}.gmap_canvas
               {overflow:hidden;background:none!important;height:500px;width:1100px;}</style></div>
  
        <br>
        <!--Bouttons-->
        <div class="row text-center">
          <div class="col-md-4">
            <a class="btn-floating blue accent-1"><i class="fas fa-map-marker-alt"></i></a>
            <p>Montpellier, CP 34000</p>
            <p>France</p>
          </div>
  
          <div class="col-md-4">
            <a class="btn-floating blue accent-1"><i class="fas fa-phone"></i></a>
            <p>+ 04 67 59 48 62</p>
            <p>De 9h30 à 14h / Lundi - Vendredi</p>
          </div>
  
          <div class="col-md-4">
            <a class="btn-floating blue accent-1"><i class="fas fa-envelope"></i></a>
            <p>afpanier@gmail.com</p>
          </div>
        </div>
  
      </div>

  
    </div>
  
  </section>