<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href="css/jeanPatrick.css"
/>

<header>
  <div id="headerNotLogged" class="d-flex align-items-center">
    <a href="route.php?page=accueil">
      <img
        class="logoAfpanier img-fluid mx-2 d-block my-2 mr-2 ml-4"
        src="assets/img/logo_afpanier_93x80.png"
        alt="LOGO"
      />
    </a>
    <div
      class="nameAndTitle d-flex flex-column flex-lg-row justify-content-between align-items-center w-50 mr-auto"
    >
      <p class="nameProject h2 mb-0">Af'Panier</p>
      <p class="titlePage h4 mb-0">Le Local en direct</p>
    </div>

    <div
      class="iconsHeader d-flex justify-content-around align-items-center mr-2"
    >
      <img
        class="mx-3"
        src="assets/img/bell_white_27x30.png"
        alt="Notification"
      />
      <img
        class="mx-3"
        src="assets/img/hamburger_white_33x30.png"
        alt="Hamburger"
      />
    </div>
  </div>
</header>
