<link rel="stylesheet" type="text/css" href="css/dataTables.min.css">
<link rel="stylesheet" type="text/css" href="css/datatables.filters.css">
<link rel="stylesheet" type="text/css" href="css/notif_new.css">
<script type="text/javascript" charset="utf8" src="js/dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="js/dataTables.filters.js"></script>
<script src="js/notif_new.js"></script>  


<div>
    <section>
        <!--Titre-->
        <div class="col-sm-4" id="main">
            <h3 class="text-uppercase">Notifications</h3>
        </div>
        <!--Tableau construction datatable-->
        <table class="table table-striped table-hover table-responsive text-center" id="tableNotif">
            <!--En-tête-->
            <thead>
                <tr>
                    <th>Date</th>
                    <th>notification</th>
                    <th onclick="supprimNotif() + i">Supprimer</th>
                </tr>
            </thead>
            <!--Corps-->
            <tbody>
            </tbody>
        </table>
    </section>
</div>
