<link rel="stylesheet" href="css/offer_detail.css">
<h2 class="text-center mt-3">Liste des paniers</h2>
<div class="d-flex flex-column flex-md-row justify-content-around align-items-center flex-wrap container" id="offer_detail_list">
</div>

<script src="js/offer_detail.js"></script>