<link rel="stylesheet" type="text/css" href="css/order_validate_tel.css">
<script src="js/order_validate_tel.js"></script>

<div id="valid_com" class="text-center">

    <!--Récupération du numéro de commande-->
    <p id="lacom">Votre commande <span id="numcom"></span> est enregistrée</p>
    <p id="service">Afin de valider cette commande, nous vous invitons à appeler notre service
        téléphonique pour transmettre votre code unique.</p>

    <!--Récupération du code unique généré automatiquement-->
    <p>Votre code unique est : <span id="numuni"></span></p>
    <p>Notre standard téléphonique est ouvert du lundi au vendredi de 13h à 14h</p>
    <br>

    <!--Date généré via requête SQL-->
    <p>Vous devez valider votre commande au plus tard le <span id="date_valid">25/12/2020</span></p>

    <!--Date généré via requête SQL-->
    <p>Vous devez régler votre commande avant le <span id="date_paid">25/12/2020</span></p>
    <br>

    <!--Date généré via requête SQL-->
    <p id="livr">Livraison prévue le <span id="date_livr">25/12/2020</span></p>
    <p id="warning"><i class="fas">&#xf071;</i> Attention : Sans transmission du code unique
        auprès de nos services, la commande ne pourra être validée et sera annulée</p>

    <!--Fonction d'appel en cliquant sur le bouton, lié au numéro-->
    <div id="bouton_tel" class="">
        <a id="tel" href="tel:+33826461414" class="btn button_green btn-lgx">0 826 46 14 14</a>
    </div>
</div>
