<link rel="stylesheet" type="text/css" href="css/order_validate_mail.css">
<script src="js/order_validate_mail.js"></script>

<div id="valid_com" class="text-center">

    <!--Récupération du numéro de commande-->
    <p id="lacom">Votre commande <span id="numcom"></span> est enregistrée,</p>
    <p id="service">Un email vient de vous être envoyé.</p><br>
    <p>Afin de valider cette commande, veuillez entrer le code unique transmis par email.</p>

    <!--Formulaire de saisie et envoi du code unique-->
    <form name="form" id="form" method="post">
        <div class="form-group" onkeydown="if (event.keyCode == 13) numUni()">
            <label for="code">Code Unique:</label>
            <input type="number" class="form-control text-center" name="code" id="code" required>
        </div>
    </form>

    <!--Envoi du code rentré dans l'input-->
    <button class="button_green" onclick="numUni()">Envoyer</button>
    <br>
    <p id="warning"><i class="fas">&#xf071;</i> Attention : Sans transmission du code unique
        auprès de nos services, la commande ne pourra être validée et sera annulée.</p>
</div>
