<link rel="stylesheet" type="text/css" href="css/order_validate_new.css">
<script src="js/order_validate_new.js"></script>

<div id="valid_com" class="text-center">

    <!--Date généré via requête SQL-->
    <p>Vous devez régler votre commande avant le <span id="date_paid">25/12/2020</span></p>
    <br>
    <p id="comVal">Commande validée</p>

    <!--Date généré via requête SQL-->
    <p id="livr">Livraison prévue le <span id="date_livr">25/12/2020</span></p>
    <p id="warning"><i class="fas">&#xf071;</i> Attention : Sans paiement auprès de nos services dans la limite de temps donné,
        la commande sera annulée.</p>
</div>
