<div>
    <div class="col-sm-6 text-center mt-sm-5">
        <h1 class="ml-sm-5 h4">Le panier disponible actuellement</h1>
        <img class="img-fluid mt-sm-5" src="../../web/assets/img/panier.png" alt="Le panier de fruits et légumes">
        <p class="ml-sm-5 mt-3">Le panier actuel est composé de 3 variétés de légumes et 1 variété de fruit.<br>
            Il arrive directement de Juvignac et il est en quantité limité.</p>
        <div class="col-sm-12 p-0 mt-3 d-sm-flex justify-content-between">
            <button class="button_green border-0 text-white ml-sm-5 mb-2">Détails</button>
            <button class="button_green border-0 text-white mr-sm-5 mb-2">Commander</button>
        </div>
    </div>
</div>
