<div id="container-fluid d-flex" style="">
    <div class="row">
        <div class="container-fluid d-flex justify-content-around">
            <div class="d-flex flex-row">
                <div class="row justify-content-start pl-5">
                    <h5 class="text-center mr-5 pt-5">Du producteur dans mon frigo (il va avoir froid le pauvre)</h5>
                </div>
                <div class="row justify-content-end">
                    <h5 class="bg-success rounded mt-4 pt-2 pl-5 pr-5">Suivez les étapes<img src="./image/37411.png" alt="Flèche" class="bg-success rounded pl-2" style=" width: 30px; height:30px;"></h5>
                </div>
            </div>
        </div>
        <div class="text-center pt-5 pb-5"> 
            <h2 class="flex-row">Comment ça marche ?</h2>
        </div>
        <div class="container-fluid d-flex justify-content-center">
            <div class="border border-success col-8" style="border-width:8px !important">
                <div class="d-flex flex-column"> 
                    <div class="row justify-content-start pl-5 mt-3">
                        <h5 class="bg-success rounded pl-5 pr-5" >Etape 1</h5> 
                    </div>
                    <div class="text-center">
                        <p class="ml-5 mr-5">The 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum
                        </p>
                    </div> 
                </div>
                <div class="d-flex flex-column"> 
                    <div class="row justify-content-end pr-5 ">
                        <h5 class="bg-success rounded pl-5 pr-5 ">Etape 2</h5>
                    </div>
                    <div class="text-center">
                        <p class="ml-5 mr-5">The 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        software like Aldus PageMaker including versions of Lorem Ipsum
                        </p>
                    </div> 
                </div>
                <div class="d-flex flex-column"> 
                    <div class="row justify-content-start pl-5">
                        <h5 class="bg-success rounded pl-5 pr-5">Etape 3</h5> 
                    </div>
                    <div class="text-center">
                        <p class="ml-5 mr-5">The 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including
                        </p>
                    </div> 
                </div>
                <div class="d-flex flex-column"> 
                    <div class="row justify-content-end pr-5 ">
                        <h5 class="bg-success rounded pl-5 pr-5">Etape 4</h5>
                    </div>
                    <div class="text-center mb-3">
                        <p class="ml-5 mr-5">The 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum
                        </p>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>