
 <header class="row">
    <div class=" col-12  col-md-4">
        <h4>Panier</h4>
    </div>
    <div class="col-12  col-md-4 offset-md-2 ">
        <h1 class="h3 text-center font-weight-bold"> Son producteur</h1>
        <div class="row">
            <div class="col-6 bg-success">
                <div>
                    <figure class="figure d-flex justify-content-around">
                        <img src="assets/img/pierre.jpg" alt="pierre" class="figure-img img-fluid img-thumbnail w-50">
                    </figure>
                </div>
                <div class="h6"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime corrupti corporis iste iure ducimus debitis perspiciatis dolorem itaque laborum. Dicta?</div>
                <div>
                    <figure class="figure d-flex justify-content-center">
                        <img src="assets/img/note.jpg" alt="note" class="img-fluid img-thumbnail w-50 " >
                    </figure>
                </div>
            </div>
            <div class="col-6">
                <img src="assets/img/afpa-localisation.png" alt="geolocalisation" class="w-100 h-100">
            </div>
        </div>
    </div>
</header>
   
    


        