body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
p.Aucun-style {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Paragraphe-standard {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.para-style-override-1 {
	text-align:center;
}
p.para-style-override-2 {
	color:#15af00;
	font-family:"Segoe Script", sans-serif;
	font-size:72px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-3 {
	font-size:36px;
}
p.para-style-override-4 {
	font-family:"Segoe Script", sans-serif;
	font-size:22px;
	font-style:normal;
	font-weight:normal;
	text-align:center;
}
p.para-style-override-5 {
	color:#15af00;
	font-size:18px;
	text-decoration:underline;
}
p.para-style-override-6 {
	color:#ffa801;
	font-size:90px;
	font-style:italic;
	font-weight:bold;
	text-align:center;
}
p.para-style-override-7 {
	color:#15af00;
	font-family:"Segoe Script", sans-serif;
	font-size:60px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-8 {
	font-size:35px;
	font-style:normal;
	font-weight:bold;
	text-align:center;
}
p.para-style-override-9 {
	color:#ffa801;
	font-size:24px;
	font-style:normal;
	font-weight:bold;
	text-align:center;
}
p.para-style-override-10 {
	font-size:25px;
}
p.para-style-override-11 {
	font-size:17px;
}
p.para-style-override-12 {
	font-size:20px;
	text-align:center;
}
span.char-style-override-1 {
	font-size:48px;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-2 {
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-3 {
	font-size:36px;
}
img.frame-1 {
	height:91px;
	width:147px;
}
div.frame-2 {
	margin:0px auto 0px auto;
	text-align:center;
}
img.frame-3 {
	height:146px;
	width:171px;
}
img.frame-4 {
	height:829px;
	width:988px;
}
img.frame-5 {
	height:303px;
	width:236px;
}
img.frame-6 {
	height:46px;
	width:48px;
}
img.frame-7 {
	height:149px;
	width:150px;
}
img.frame-8 {
	height:60px;
	width:60px;
}
img.frame-9 {
	height:35px;
	width:35px;
}
