.button_outline_green {
  color: var(--color-green);
  border: 1px solid var(--color-green);
  background-color: rgba(255, 255, 255, 0.3);
}

.button_outline_green:hover {
  color: white;
  border: 1px solid var(--color-green);
  background-color: var(--color-green);
}

.opacity-50 {
  opacity: 0.5;
}
