.table-responsive {
    display: inline-table;
}

thead {
    background-color: #7fc241;
    color: white;
}

#main {
    background-color: #7fc241;
    text-align: center;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
}

table.dataTable thead .sorting_asc {
    background-image: none;
}

.sup, .edit {
    background-color: #7fc241;
    color: white;
}

.sup:hover, .edit:hover {
    cursor: pointer;
}

.nom:hover, .ordre:hover, .picto:hover, .lien:hover {
    cursor: default;
}

#tableSocial_wrapper {
    margin-bottom: 5%;
}

#form {
    margin-bottom: 15%;
}

#btn_ajouter, #btn_annuler, #btn_modifier {
    color: white;
}

#btn_annuler {
    background-color: red;
}

span#ordre {
    color: #1c7430;
    margin-right: 10%;
}
