.title_page {
    color: var(--color-black);
    text-align: center;
}
.intro {
    /* transform: translate(20%, 0); */
}
.p_afficher {
    /* transform: translate(5%, 0); */
}
input.formulaire {
    color: red !important;
}
select[name$='_length'] {
    min-width: 80px;
}

/* input[type=text] {
    border: none;
    border-bottom: 1px solid blue;
} */
.btn-ajouter_personne {
    position: absolute;
    transform: translate(150px, -80px);
}
.btn.fas:hover {
    color: orange;
    transition-duration: .25s;
}
td .btn.clear {
    position: absolute;
    transform: translate(-30px, -34px);
    color: brown;
}
td input:not([val='']) + .btn.clear {
    opacity: 0;
}
td .btn.save {
    position: absolute;
    transform: translate(-70px, -34px);
    color: var(--color-blue);
}
td .btn.save:hover {
    color: var(--color-default1);
}
td input:not(:valid) + .btn.save,
td input:not(.valchanged) + .btn.save {
    opacity: 0;
}


.hide {
    display: none;
}

tbody .édit_ligne td{
    background-color: gainsboro;
}


/* Datatable */

/* header */
table {
    cursor: default;
}

table thead:first-child th,
table thead:first-child th {
    background-color: var(--color-default1);
}
table thead.filter th,
table thead.filter th {
    /* rgba(127, 194, 65, .75); */
    background-color: var(--color-default1-opac75);
}


table tbody tr:nth-child(even) td,
table tbody tr:nth-child(even) td {
    /* background: #CCC; */
    background-color: var(--color-default1-opac50);
}
table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) td {
    /* background: #eee; */
    background-color: var(--color-default1-opac25);
}

table tbody td select,
table tbody td input {
    height: 100%;
    width: 100%;
}
table tbody td.edition {
    background-color: rgba(128, 128, 123, 0.3) !important;
}
table tbody td.modified {
    font-weight: bold;
    color: grey;
    border-color: var(--color-pink);
}
table tbody td.question {
    border-color: red !important;
    background-color: orange !important;
}
table tbody td input:invalid {
    color: red !important;
    box-shadow: 0 0 2px 1px red;
}
table tbody td input:valid {
    /* background: green !important; */
    box-shadow: 0 0 2px 1px green;
}

table thead th,
table tbody td{
    border-color: var(--color-default1-opac25);
}

table tbody tr:nth-child(even) td{
    color: rgb(43, 43, 43);
}
table tbody tr:nth-child(odd) td{
    color: darkslategrey;
}

.input_nombre {
    padding-left: 18px;
    background-image: url(../img/number.png);
    background-repeat: no-repeat;
    background-position: left;
}
#boutons_formulaire button {
    text-decoration: none;
    font-family: Verdana, Arial;
    font-weight: bold;
    font-size: 11 px;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    height: 40px;
}
#boutons_formulaire .btn {
    background-color: #5bd39a;
    color: white;
    border: 2px solid #5bd39a;
}
#boutons_formulaire .btn:hover {
    background-color: White;
    color: #5bd39a;
    border: 2px solid #5bd39a;
    transition-duration: 2s;
}
#boutons_formulaire #btn_annuler {
    background-color: #ff0000;
    color: white;
    border: 2px solid #ff0000;
}
#boutons_formulaire #btn_annuler:hover {
    background-color: White;
    color: #ff0000;
    border: 2px solid #ff0000;
    transition-duration: 1s;
}
.hide {
    display: none;
}
tbody td .btn > img{
    height: 35px;
    cursor: pointer;
}
tbody .édit_ligne td{
    background-color: gainsboro;
}
tbody td.édit_cell {
    font-weight: bold;
    background-image: url('img/btn-éditer.png');
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 95%;
}
tbody td:not(.édit_cell) {
    background-image: url('');
}
tbody td.val_modifiée {
    color: red;
}


/* Formulaires */

#form_btn_ajouter {
    float: right;
    height: 40px;
    margin-bottom: 5px;
}
#form_promos {
    background-color: var(--color-default1-opac25);
    border-radius: 10px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#form_promos .row {
    margin-top : 30px;
}
#form_promos .col,
#form_promos .row_in_col {
    display: flex;
    flex-direction: column;
}
#form_promos select {
    width: 200px;
}
#form_promos button {
    margin-left: 20px;
}
