h2 .titre_crea_panier {
  font-size: 35px !important;
}
h4 .label_date {
  font-size: 17px !important;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid #ff0000;
}
.input_paysbre {
  padding-left: 18px;
  background-image: url(../img/number.png);
  background-repeat: no-repeat;
  background-position: left;
}
button {
  text-decoration: none;
  font-family: Verdana, Arial;
  font-weight: bold;
  font-size: 11 px;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  height: 40px;
}
.btn_action {
  background-color: #5bd39a;
  color: white;
  border: 2px solid #5bd39a;
}
.btn_action:hover {
  background-color: White;
  color: #5bd39a;
  border: 2px solid #5bd39a;
  transition-duration: 2s;
}
.btn_save {
  background-color: #ff0000;
  color: white;
  border: 2px solid #ff0000;
}
.btn_save:hover {
  background-color: White;
  color: #ff0000;
  border: 2px solid #ff0000;
  transition-duration: 1s;
}
.hide {
  display: none;
}
