.headerNotLogged {
  color: white;
  background-color: #7fc241;
}

.logoAfpanier {
  min-width: 58px;
}

.nameProject {
  font-size: 40px;
}

.titlePage {
  font-size: 30px;
}

.iconsHeader {
  width: 150px;
}

.iconsHeader > img {
  min-height: 25px;
}

#bell, #bell:visited, #bell:active {
  background-color: transparent !important;
  border: none;
}

#notif {
  background-color: #7fc241;
  color: white;
  border: none;
  width: 500%;
  font-family: "Times New Roman", serif;
  -webkit-box-shadow: 0px 2px 5px 4px rgba(255,255,255,1);
  -moz-box-shadow: 0px 2px 5px 4px rgba(255,255,255,1);
  box-shadow: 0px 2px 5px 4px rgba(255,255,255,1);
}

#notif p {
  padding-left: 5%;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 32px; /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  color: white !important;
}

#notif a:hover {
  text-decoration-line: none;
}

/* Tablettes 'n' Mobiles */

@media screen and (max-width: 1030px) {
  .nameProject {
    font-size: calc(30px + 6 * ((100vw - 320px) / 680));
  }

  .titlePage {
    font-size: calc(20px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (max-width: 630px) {
  .nameAndTitle {
    margin-left: calc(17px + 6 * ((100vw - 320px) / 680)) !important;
  }

  .logoAfpanier {
    margin-left: calc(5px + 6 * ((100vw - 320px) / 680)) !important;
  }

  .iconsHeader {
    width: calc(80px + 6 * ((100vw - 320px) / 680)) !important;
  }

  .fa-user-alt {
    display: none !important;
  }

  .fa-user-alt {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .nameAndTitle {
    margin-left: calc(5px + 6 * ((100vw - 320px) / 680)) !important;
  }

  .logoAfpanier {
    width: 58px;
  }

  .nameProject {
    font-size: calc(25px + 6 * ((100vw - 320px) / 680));
  }

  .titlePage {
    font-size: calc(15px + 6 * ((100vw - 320px) / 680));
  }

  .iconsHeader {
    width: calc(50px + 6 * ((100vw - 320px) / 680)) !important;
  }
  .menu-top {
    display: hidden 
  }
}
