#valid_com {
    margin-top: 5%;
    margin-bottom: 5%;
}

#date_paid, #date_livr {
    color: #7fc241;
    font-weight: bold;
}

#comVal {
    font-size: xx-large;
    background-size: 20%;
    background-color: #7fc241;
    color: white;
}

#lacom, #livr {
    font-size: x-large;
}

#livr {
    margin-top: 3%;
}

#warning {
    margin-top: 5%;
}

.button_green {
    color: white;
    margin-bottom: 2%;
}
