#valid_com {
    margin-top: 5%;
    margin-bottom: 5%;
}

#numcom, #date_paid, #date_livr {
    color: #7fc241;
    font-weight: bold;
}

#lacom, #livr {
    font-size: x-large;
}

#livr {
    margin-top: 3%;
}

#service {
    background-color: white;
    margin-bottom: 3%;
}

#warning {
    margin-top: 5%;
}

.btn {
    color: white;
    font-weight: bold;
}

.form-group {
    width: fit-content;
    display: inline-block;
}

.button_green {
    color: white;
    margin-bottom: 2%;
}

 #code {
     border-color: #008000;
 }

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin:0;
}
