<div class="row text-center" style="background-color:#7fc241; margin: 0; justify-content: center">
	<!--LOGO AFPANIER-->
	<div class="col">
		<img style="margin-top: 5px;" src="assets/img/logo_afpanier_93x80.png" alt="LogoAfpanier">
		<h2 style="color: white; margin-top: 20px;">AF'Panier</h2>
	</div>
	<!--COPYRIGHT_INFOS-->
	<div class="col d-flex align-items-center justify-content-center">
		<div style=" font-size: small; color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ducimus officia ab nobis alias dolor.
			<br>©AFPA DESIGN</div>
	</div>
	<!--LOGO CROIX_ROUGE_FRANCE-->
	<div class="col d-flex align-items-center justify-content-center">
		<img src="assets/img/croixRougeFr93x93.png" alt="LogoCroixRougeFrance">
	</div>
	<!--CONTACTS&SOCIAL_MEDIA-->
	<div class="col">
		<p style="color: white; font-weight: bold; margin-top: 5px; margin-bottom: 5px">Nous Contacter</p>
		<a data-toggle="modal" data-target="#modal_tel"><i class="fas fa-phone" style="color: white"></i></a>

		<!-- The Modal -->
		<div class="modal" id="modal_tel">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title" style="color: #7FC241">contactez nous</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body" style="background-color: #7FC241">
						Service téléphonique disponible du lundi au jeudi de 13h à 14h et le vendredi de 11h à 12h.
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<a href="mailto:afpanier@afpa.com" class="btn button_green btn-lgx" style="color: white; font-size: large">afpanier@afpa.com</a>
						<a id="tel" href="tel:+33826461414" class="btn button_green btn-lgx" style="color: white; font-size: large">0 826 46 14 14</a>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>

				</div>
			</div>
		</div>


		<!--AFFICHAGE DES PICTOS RESEAUX SOCIAUX EN LIEN AVEC LA PAGE ADM_SOCIAL-->
		<div>
		<p style="color: white; font-weight: bold; margin-top: 5px; margin-bottom: 5px" id="social">Nous Suivre</p>
		<a id="link1" target="_blank"><div style="color: white; margin-right: 5%" id="order1"></div></a>
		<a id="link2" target="_blank"><div style="color: white; margin-right: 5%" id="order2"></div></a>
		<a id="link3" target="_blank"><div style="color: white;" id="order3"></div></a>
		</div>
	</div>
</div>
