<div class="headerNotLogged d-flex align-items-center navbar">
  <a href="route.php?page=accueil">
    <img
      class="logoAfpanier img-fluid mx-2 d-block my-2 mr-2 ml-4"
      src="assets/img/logo_afpanier_93x80.png"
      alt="LOGO"
    />
  </a>

  <div
    class="nameAndTitle d-flex flex-column flex-lg-row justify-content-between align-items-center w-50 mr-auto"
  >
    <p class="nameProject h2 mb-0">Af'Panier</p>
    <p class="titlePage h4 mb-0">Le Local en direct</p>
  </div>

  <div
    class="iconsHeader d-flex justify-content-around align-items-center mr-2"
  >
    <i
      class="btn text-white fas fa-user-alt"
      data-toggle="modal"
      data-target="#modal_user_connect"
      aria-label="connexion"
    ></i>

    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class= "menu-top">
        M E N U
      </span>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <button class="dropdown-item" type="button">Connexion</button>
      <button class="dropdown-item" type="button">Qui sommes nous</button>
      <button class="dropdown-item" type="button">Comment ça marche</button>
      <button class="dropdown-item" type="button">Recettes</button>
    </div>
  </div>
  <!-- Links -->
</div>
<!-- Collapsible content -->
<div
  class="modal fade"
  id="modal_user_connect"
  tabindex="-1"
  role="dialog"
  aria-label="Dialogue de connexion"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Connexion</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Fermer"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Boutons Connexion/Inscription -->
        <div class="row justify-content-center">
          <div
            id="modal_forms_btn_group"
            class="list-group list-group-horizontal"
            role="group"
          >
            <button
              id="btn_show_login"
              type="button"
              class="list-group-item list-group-item-action active"
              aria-label="Connexion"
              role="tab"
              data-toggle="list"
              href="#form_login-pane"
            >
              Connexion
            </button>
            <button
              id="btn_show_register"
              type="button"
              class="list-group-item list-group-item-action"
              aria-label="Inscription"
              role="tab"
              data-toggle="list"
              href="#form_register-pane"
            >
              Inscription
            </button>
          </div>
        </div>
        <!-- Formulaires de la modale -->
        <div class="tab-content">
          <!-- Formulaire de connexion -->
          <div id="form_login-pane" class="tab-pane fade show active">
            <form id="form_login" class="form">
              <!-- Input: identifiant -->
              <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Identifiant</span>
                </div>
                <input
                  type="text"
                  class="form-control afpanize"
                  id="login_username"
                  name="login_username"
                  aria-label="entrez votre identifiant"
                />
              </div>
              <!-- Input: mot de passe -->
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Mot de passe</span>
                </div>
                <input
                  type="password"
                  class="form-control afpanize"
                  id="login_password"
                  name="login_password"
                  aria-label="entrez votre mot de passe"
                />
              </div>
              <div class="row justify-content-center">
                <button
                  type="submit"
                  class="btn textalign-center mt-3 button_blue text-white"
                >
                  Valider
                </button>
              </div>
            </form>
          </div>
          <!-- Formulaire d'inscription -->
          <div id="form_register-pane" class="tab-pane fade">
            <form id="form_register" class="form">
              <!-- Input: identifiant -->
              <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Identifiant</span>
                </div>
                <input
                  type="text"
                  class="form-control afpanize"
                  id="register_username"
                  name="register_username"
                  aria-label="entrez votre identifiant"
                />
              </div>
              <!-- Input: email -->
              <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Adresse mail</span>
                </div>
                <input
                  type="email"
                  class="form-control afpanize"
                  id="register_mail"
                  name="register_mail"
                  aria-label="entrez votre adresse email"
                />
              </div>
              <!-- Input: mot de passe -->
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Mot de passe</span>
                </div>
                <input
                  type="password"
                  class="form-control afpanize"
                  id="register_password"
                  name="register_password"
                  aria-label="entrez votre mot de passe"
                />
              </div>
              <!-- Input: mot de passe confirmation-->
              <p>Confirmez votre mot de passe :</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Mot de passe</span>
                </div>
                <input
                  type="password"
                  class="form-control afpanize"
                  id="register_password_confirm"
                  name="register_password_confirm"
                  aria-label="entrez votre mot de passe"
                />
              </div>
              <div class="row justify-content-center">
                <button
                  type="submit"
                  class="btn textalign-center mt-3 button_blue text-white"
                >
                  Valider
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
